@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>


<address>
    Kingston 20<br />
    Jamaica<br />
  
</address>

<address>
    <strong>Contact Me:</strong> <a href="mailto:revibennett@gmail.com">revibennett@gmail.com</a><br />

</address>
